@media screen and (max-width: 1100px) {

body {
    background-color: rgb(234, 225, 198);
}

.container h1 {
    font-size: 6rem;
    font-weight: 500;
}

.frase {
    font-size: 3rem;
}

.icones {
    vertical-align: middle;
}

li {
    font-size: 2rem;
}

.campo_digitacao {
    width: 100%;
    height: 40%;
    font-size: 3rem;
    padding: 1rem 3rem;
}

.campo_desativado {
    background-color: lightgray;
}

.borda_correta {
    border: 5px solid green;
}

.borda_errada {
    border: 5px solid red;
}

button {
    background-color: rgb(236, 244, 0);
    border: 1px solid ivory;
    border-radius: 2rem;
    padding: .5rem;
}

.placar {
    margin-top: 10rem;
    font-size: 2rem;
}

}

@media screen and (min-width: 1100px) {
    body {
        background-color: rgb(234, 225, 198);
    }
    
    .frase {
        font-size: 1.5rem;
    }
    
    .icones {
        vertical-align: middle;
    }
    
    .campo_digitacao {
        font-size: 1.5rem;
        padding: 0 1rem;
    }
    
    button {
        background-color: rgb(236, 244, 0);
        border: 1px solid ivory;
        border-radius: 2rem;
        padding: .5rem;
    }
    
    .campo_desativado {
        background-color: lightgray;
    }
    
    .borda_correta {
        border: 5px solid green;
    }
    
    .borda_errada {
        border: 5px solid red;
    }
}